<h3>Reset Password</h3>
<div [hidden]="submitted" style="width: 400px;">
      <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" ngNativeValidate>
        <div class="form-row">
          <div class="form-group col">
            <label>Password</label>
            <input
            type="password"
            class="form-control"
            formControlName="password"
            [ngClass]="{'is-invalid': submitted && h.password.errors}"/>
            <div *ngIf="h.password.touched && h.password.errors"  class="alert alert-danger">
              <div *ngIf="h.password.errors">Password is required</div>
            </div>
          </div>
          <div class="form-group col">
            <label>Confirm Password</label>
            <input
            type="password"
            class="form-control"
            formControlName="confirmPassword"
            [ngClass]="{'is-invalid': submitted && h.confirmPassword.errors}" />
            <div *ngIf="h.confirmPassword.touched && h.confirmPassword.errors"  class="alert alert-danger">
              <div  *ngIf="h.confirmPassword.errors.required">
                Confirm Password is required
              </div>
              <div *ngIf="h.confirmPassword.errors.mustmatch">
                Passwords must match
              </div>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-success"  [disabled]="!resetForm.valid">Submit</button>
      </form>
    </div>
  
  <div [hidden]="!submitted">
    <h4>Password is reset successfully!</h4>
    <a href="login" class="float-right">Back to Login</a>
</div>
