<header>
  <nav class="navbar navbar-inverse">
    
      <div class="navbar-brand" style = "color:whitesmoke;">
        <Strong>C . R . O . P</Strong> <p style="font-size: 10px;"> Course Registration Operations Portal</p>
      </div>
      <div class="container" > 
      <div class="navbar-header" *ngIf="isLoggedIn$ | async">
        <a (click) ="backToHome()" class="navbar-brand"><span class="glyphicon glyphicon-home"></span>
          <span style="text-transform: capitalize;"> <strong> {{ user$ | async }}</strong></span>
        </a>
      </div>
        

      <div class="navbar-right">
        <a (click) ="handleLogout()" class="navbar-brand" *ngIf="isLoggedIn$ | async"><strong>Logout </strong><span class="glyphicon glyphicon-log-out"></span></a>
     </div>
    </div>
  </nav>
</header>