<div class="panel panel-default"  style="height:500px; overflow-y: scroll;" *ngIf="courses">
  <div class="panel-heading">
    <h2>Course Details</h2>
  </div>
  <table class="table table-striped">
    <tbody>
      <tr><th scope = "row">Course Number:</th><td>{{courses.courseNumber}}</td></tr>
      <tr><th scope = "row">Course Name: </th><td>{{courses.courseName}}</td></tr>
      <tr><th scope = "row">Course Description: </th><td>{{courses.courseDescription}}</td></tr>
      <tr><th scope = "row">Semester:</th><td>{{courses.semester}}</td></tr> 
      <tr><th scope = "row">course CRN:</th><td>{{courses.courseCRN}}</td></tr>
      <tr><th scope = "row">Type:</th><td>{{courses.type}}</td></tr>
      <tr><th scope = "row">Pre-requisites:</th><td>{{courses?.preRequisites}}</td></tr> 
      <tr><th scope = "row">Part of Day:</th><td>{{courses.partOfDay}}</td></tr>
      <tr><th scope = "row">Time:</th><td>{{courses.timings}}</td></tr>
      <tr><th scope = "row">Day:</th><td>{{courses.day}}</td></tr>
      <tr><th scope = "row">Faculty:</th><td>{{courses.faculty}}</td></tr>
</tbody>
</table> 
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Back to Courses List</button><br>
