<h2>Courses Details</h2> 

<hr/>
<div *ngIf="courses">
  <div>
    <label><b>Course Number: </b></label> {{courses.courseNumber}}
  </div>
  <div>
    <label><b>Course Name: </b></label> {{courses.courseName}}
  </div>
  <div>
    <label><b>Semester: </b></label> {{courses.semester}}
  </div> 
  <div>
    <label><b>Type: </b></label> {{courses.type}}
  </div> 
  <div>
    <label><b>Pre-requisites: </b></label> {{courses.preRequisites}}
  </div> 
  <div>
    <label><b>Part of Day: </b></label> {{courses.partOfDay}}
  </div> 
  <div>
    <label><b>Time: </b></label> {{courses.time}}
  </div> 
  <div>
    <label><b>Day: </b></label> {{courses.day}}
  </div> 
  <div>
    <label><b>Faculty: </b></label> {{courses.faculty}}
  </div> 
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Back to Courses List</button><br>
