<iframe [src]="courseOpLink" width="100%" height="500"></iframe>
<div class="alert alert-warning alert-dismissible fade in text-center" *ngIf='invalidRequest'>{{errorMessage}}
  <span style="display:inline-block; width: 4%;"></span>
  <a (click)="sendEmail()" *ngIf='emailLink'><Strong>Request for override</Strong></a>
</div>
<div class="center-block">
  <input type="text" class="form-control" name="courseNumber" [(ngModel)]="courseNumber"
    placeholder="Enter course number" id="courseNumber" list="courseNumberList">
    <datalist id="courseNumberList">
      <option *ngFor="let item of courses" [value]="item">{{item}}</option>
   </datalist>
  <span class="input-group-btn" style="width:0;">
    <button (click)="registerCourse()" type="button" class="btn btn-primary">Register</button>
  </span> 
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
  <p style="color: white">Please Wait. </p>
</ngx-spinner>
