<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Course Registration List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Course Number</th>
            <th>Course Name</th>
            <th>Semester</th>
            <th>Type</th>
            <th>Prerequisites</th>
            <th>Part of Day</th>
            <th>Time</th>
            <th>Day</th>
            <th>Faculty</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let courses of courses | async">
            <td>{{courses.courseNumber}}</td>
            <td>{{courses.courseName}}</td>
            <td>{{courses.semester}}</td>
            <td>{{courses.type}}</td>
            <td>{{courses.preRequisites}}</td>
            <td>{{courses.partOfDay}}</td>
            <td>{{courses.time}}</td>
            <td>{{courses.day}}</td>
            <td>{{courses.faculty}}</td>
            <td><button (click)="deleteCourses(courses.id)" class="btn btn-danger">Deregister</button>
                <button (click)="coursesDetails(courses.id)" class="btn btn-info" style="margin-left:auto">Details</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card">
    <button type="button" class="btn btn-link" routerLink = "/courseop">Browse courses to register</button>
  </div>
  