<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Courses List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Course Name</th>
            <th>Time</th>
            <th>Semester</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let courses of courses | async">
            <td>{{employee.courseName}}</td>
            <td>{{employee.time}}</td>
            <td>{{employee.semester}}</td>
            <td><button (click)="deleteCourses(courses.id)" class="btn btn-danger">Delete</button>
                <button (click)="coursesDetails(courses.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
