<h3>Forgot Password</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()" ngNativeValidate>
    <div class="form-group">
      <label for="name">Enter your email</label>
      <input type="email" class="form-control" id="email" required [(ngModel)]="forgotPassword.email" name="email">
    </div>


    <button type="submit" class="btn btn-success">Submit</button>
  </form>
  <a href="login" class="float-right">Back to Login</a>
</div>

<div [hidden]="!submitted">
  <h4>Email sent with reset password instructions </h4>
  <a href="resetpassword" class="float-right">Reset Password</a>
</div>
